# This is a bit over-bearing, but it is a good start for me. Needs to be replaced with a more specific set of rules.
!.vscode/*.code-snippets
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.apt_generated_test/
.apt_generated/
.autotools
.buildpath
.cache-main
.com.apple.timemachine.donotpresent
.cproject
.direnv
.DocumentRevisions-V100
.DS_Store
.env
.envrc
.externalToolBuilders/
.factorypath
.fseventsd
.history/
.idea
.idea_modules/
.idea/**/aws.xml
.idea/**/contentModel.xml
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources/
.idea/**/dbnavigator.xml
.idea/**/dictionaries
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea/**/shelf
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/usage.statistics.xml
.idea/**/workspace.xml
.idea/caches/build_file_checksums.ser
.idea/httpRequests
.idea/replstate.xml
.idea/sonarlint/
.loadpath
.LSOverride
.metadata
.Python
.recommenders
.recommenders/
.scala_dependencies
.settings/
.Spotlight-V100
.springBeans
.stephen*
.target
.TemporaryItems
.tern-project
.texlipse
.Trashes
.venv
.VolumeIcon.icns
.vs/
.vscode
.vscode/*
.worksheet
[Bb]in
[Bb]in/
[Dd]ebug/
[Dd]ebugPublic/
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Oo]bj/
[Oo]ut/
[Rr]elease/
[Rr]eleases/
[Ss]cripts
*.*~
*.7z
*.bak
*.bz2
*.bzip
*.bzip2
*.cab
*.deb
*.dmg
*.egg
*.gem
*.gho
*.gz
*.gzip
*.iso
*.iws
*.jar
*.launch
*.lzma
*.msi
*.msm
*.msp
*.ori
*.orig
*.pyc
*.pydevproject
*.rar
*.rpm
*.sln.docstates
*.suo
*.swp
*.tar
*.tgz
*.tmp
*.txz
*.user
*.userosscache
*.vsix
*.xar
*.xpi
*.xz
*.zip
*~.nib
bin/
bld/
build/
cmake-build-*/
com_crashlytics_export_strings.xml
crashlytics-build.properties
crashlytics.properties
fabric.properties
Icon
local.properties
msbuild.err
msbuild.log
msbuild.wrn
Network Trash Folder
node_modules
nupkg/
out/
pip-selfcheck.json
project.lock.json
pyvenv.cfg
Temporary Items
tmp/
x64/
x86/
